body{
    width: 100%;
    height: 100%;
    margin: 0;
    background: url("");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-color: blanchedalmond;
}
.login{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background: rgba(113, 129, 107, 0.5);
    text-align: center;
    color: #fff;
    font-family: "微軟正黑體"sans-serif;
    border-radius: 10px;
    padding: 30px;
}
.login i {
    font-size: 100px;
    margin: 20px auto;
}
input[type="text"],input[type="password"]{
    font-size: 16px;
    font-family: "微軟正黑體"sans-serif;
    border-radius: 5px;
    margin: 0 auto;
    display: block;
    width: 100%;
}
button{
    border: 0;
    padding: 4px 8px;
    margin: 20px auto;
    font-size: 18px;
    font-family: "微軟正黑體"sans-serif;
    background: #fff;
    color: #000;
}

@media (max-width: 450px){
    .login{
        width: 70%;
    }
}
