* {
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FAF9EC;
}
.navbar {
    width: 100%;
    background-color: #E8EAD9;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 15px 0;
    margin: 0;
}
.shoptitle {
    display: flex;
    justify-content: center; 
    font-size: 45px;
    font-weight: bold;
    color: #2c2b2b;
    padding: 20px;
}

.nav-links {
    display: flex;
    gap: 15px;
    padding-right: 30px; /* 添加右側內邊距 */
    color: #333;
}
.nav-links a {
    text-decoration: none;
    color: #333;
}

.icon-container {
    display: flex;
    align-items: center;
    margin-right: 5px; 
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 5px; 
}
.search-container input {
    width: 150px;
    padding: 5px;
}
#site-search {
    margin-left: 10px;
    text-align: center;
}
.product {
    display: flex;
    justify-content: center; 
    padding-bottom: 15px;
}
.product a{
    text-decoration: none; 
    font-size: 20px; 
    color: #333; 
    display: inline-block;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
.product a:hover{
    color: white;
    background-color: #CDD1BF;
    border-radius: 5px;
}

.slideshow-container {
    max-width: 800px;
    position: relative;
    margin: auto;
    text-align: center;
}
.slide {
    display: none;
    text-align: center;
}

.content {
    padding: 20px;
}
.show {
    display: block;
}

.advertise {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #cdd1bf;
}

.article {
    width: 49%;
    padding-top: 20px;
    text-align: center;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.prev {
    left: 0;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(61, 57, 57, 0.8);
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: 0.6s ease;
}
.active,
.dot:hover {
    background-color: #717171;
}
.fade {
    animation-name: fade;
    animation-duration: 2s;
}
@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
img {
    vertical-align: middle;
    border-radius: 15px;
}
.new_product {
    padding: 20px;
    text-align: center;
}
.image_row {
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.image_row img {
    width: 250px;
    border-radius: 15px;
    margin: 20px 30px;
   
}
.see_more {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}
.see_more a {
    font-size: 18px;
    text-decoration: none;
    padding: 10px 20px;
    transition: all 0.3s ease;
    background-color: #cdd1bf;
    color: white;
    border-radius: 5px;
    
}
.hot_items {
    text-align: center;
}

article {
    display: inline-block;
    margin: 0 10px;
    text-align: center;

}
.sellproduct {
    display: flex;
    justify-content: center;
}

.photo, .text {
    margin: 30px; /* 根据需要调整间距 */
}

.photo img {
    width: 100%; 
}
.photo {
    width: 250px; 
    height: auto; 
}
.text {
    display: block;
    align-items: center;
    margin-top: 80px;
    margin-left: 10px;
    text-align: left;
    color: #333;
    font-size: 18px;
    padding-bottom: 0;  
}
.text a {
    text-decoration: none !important;
    color: inherit;
}
.amount {
    color: #828282;
    font-size: 18px;
}
.price {
    color: #ac5a5a;
    font-weight: bold;
    font-size: 20px;
}
footer{
    background-color: #E8EAD9;
    color: white;
    text-align: center;
    padding: 10px;
    font-family: Arial;
}
.card-img-top {
    width: 100%; 
    height: auto; 
}
.detail {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* 保证内容从左侧开始排列 */
}
.cardItem {                    
    display: inline-block;
    width: 25%; 
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: left;
    cursor: pointer;
}
.card-title {
    color: #333; 
    font-size: 18px;
}
.card-price {
    color: #AC5A5A; 
    font-weight: bold;
    font-size: 20px;
}
.card-text {
    font-size: 32px;
}
