body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FAF9EC;
}
main {
    margin-bottom: 90px;
}
.navbar {
    width: 100%;
    background-color: #E8EAD9;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 15px 0;
    margin: 0;
}
.shoptitle a{
    display: flex;
    text-align: center;
    text-decoration: none;
    font-size: 28px;
    font-weight: bold;
    color: #2c2b2b;

}
.shoptitle a:hover{
    text-decoration: none;
    color: #2c2b2b;
}
.nav-links {
    display: flex;
    gap: 15px;
    padding-right: 30px; /* 添加右側內邊距 */
    color: #333;
}
.nav-links a {
    text-decoration: none;
    color: #333;
}

.icon-container {
    display: flex;
    align-items: center;
    margin-right: 5px; 
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 5px; 
}
.search-container input {
    width: 150px;
    padding: 5px;
}
/* 設置頁籤並使頁籤對齊 */
#tab > ul {
    display: flex;
    justify-content: center; 
    margin: 0;
    padding: 20px 20px 0 20px; 
    list-style: none; /* 移除列表項的預設樣式 */
}
#tab > ul > li {
    margin-left: 20px; /* 每個列表項之間的間距 */
    margin-right: 20px;
}

/* 頁籤文字的樣式 */
#tab > ul > li > a { 
    text-decoration: none; /* 移除文字下劃線 */
    font-size: 20px; 
    color: #333; 
    padding: 10px; 
    display: block; /* 設置為塊級元素 */
}
#tab > ul > li > a:hover{
    color: white;
    background-color: #CDD1BF;
    border-radius: 5px;
}


/* 頁籤內容的樣式，默認隱藏 */
#tab > div {
    display: none; /* 隱藏頁籤內容 */
    padding: 15px; /* 設置內邊距 */
}

/* 當頁籤被選中時，顯示相應的內容 */
#tab > div:target {
    display: block; 
}

/* 預設顯示主頁內容 */
#tab > div.default {
    display: block; 
}
footer {
    
    width: 100%;
    background-color: #E8EAD9;
    color: white;
    text-align: center;
    padding: 10px;
    font-family: Arial;
}
.contentTitle {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    padding: 0 0 20px 0;
    color: #2c2b2b;
}
.card-img-top {
    width: 100%; 
    height: auto; 
    border-radius: 10px;
}

.detail {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* 保证内容从左侧开始排列 */
}

.cardItem {                    
    display: inline-block;
    width: 25%; 
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: left;
    cursor: pointer;
}
.card-title {
    color: #333; 
    font-size: 18px;
}

.card-price {
    color: #AC5A5A; 
    font-weight: bold;
    font-size: 20px;
}
.card-text {
    font-size: 32px;
}
.top {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.top a {
    font-size: 18px;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #cdd1bf;
    color: white;
    border-radius: 5px;
}
